@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=DynaPuff:wght@400..700&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Special+Gothic+Expanded+One&family=Underdog&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

/* For WebKit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 10px; /* Scrollbar width */
  }
  
  ::-webkit-scrollbar-track {
    background: #1e293b; /* Dark gray track */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #64748b; /* Gray thumb */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #475569; /* Darker on hover */
  }
  
body {
  overflow-x: hidden;
}